.root {
    -fx-background-color: linear-gradient(to bottom, #111, #333);
    -fx-padding: 100px;
}

.title-label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 0;
}



.input-container {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-background-radius: 5;


}

.custom-button-blue {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.custom-button-blue:hover {
    -fx-background-color: #1976D2;
}

.custom-button-green {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.custom-button-green:hover {
    -fx-background-color: #388E3C;
}

.custom-button-orange {
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.custom-button-orange:hover {
    -fx-background-color: #F57C00;
}

.custom-button-red {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
.custom-button-red:hover {
    -fx-background-color: #D32F2F;
}

.saldo-label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.transparent-input {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.fields-background {
    -fx-background-color: #28282b;
    -fx-background-radius: 5;
    -fx-padding: 60 20 20 20;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-max-width: 500;
    -fx-max-height: 600;
    -fx-min-width: 200;
    -fx-min-height: 300;
}

.login-button {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.link-label {
    -fx-text-fill: #ff4d4d;
}

